.side-bar-container {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
  position: absolute;
  top: 0;
  width: 5.9vw;
  height: 100vh;
}

.element-container {
  cursor: pointer;
  width: 100%;
}
.element-container:hover {
  background-color: #2765ac;
}
.side-bar-icon {
  color: #fff;
  font-size: 2.8rem;
}
.side-text {
  color: white;
  font-size: 0.75rem;
  text-align: center;
}
@media screen and (max-width: 1090px) {
  .side-bar-container {
    width: 7vw;
  }
  .side-bar-icon {
    font-size: 2rem;
  }
  .side-text {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 767px) {
  .side-bar-container {
    width: 7vw;
  }
  .side-bar-icon {
    font-size: 1.5rem;
  }
  .side-text {
    display: none;
  }
}
