.side-bar-container {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
  position: absolute;
  top: 0;
  width: 5.9vw;
  height: 100vh;
}
.blurred {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(40, 104, 174, 0.43);
}
.element-container{
  cursor: pointer;
  width:100%;
}
.element-container:active{
  background-color: #2765ac;
}
.side-bar-icon{
  color:#fff;
  font-size: 2.8rem;
}
.side-text{
  color: white;
  font-size: 0.75rem;
  text-align: center;

}