.dashbord-container {
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.45vh 3vw;
  flex-basis: 1;
  margin: 1vw;
  padding-left: 7vw;
}

.blurred {
  opacity: 0.3;
}

.search-label{
  min-height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

}

.search-input {
  min-height: 30px !important;
  height: 30px !important;
  border:none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-size: 1rem !important;

}
.search-input:focus {
box-shadow: none!important;  
}

.search-icon {
  font-size: 1.5rem;
  color: #23aaeb;
}
.search-client {
  border: none;
}

.weekends {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 0.82rem;
  align-items: center;
  height: 30px;
  padding: 0.438rem 1.025rem;
  border-radius: 0.313rem;
  background-color: var(--weekend);
  color: #fff;
  width: 150px;
}
.weekends:hover {
  color: var(--weekend);
  background-color: #fff;
  border: 1px solid var(--weekend);
}
.cards-container {
  margin-top: 4vh;
  gap: 2.5%;
}
@media screen and (max-width: 767px) {
  .weekends {
    width: 90vw;
    margin: 0 auto;
  }
}
