.dashbord-container {
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2.45vh 3vw;
  flex-basis: 1;
  margin: 1vw;
  padding-left: 7vw;
  height: 100vh;
}

.search-label {
  min-height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-input {
  min-height: 30px !important;
  height: 30px !important;
  border: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  font-size: 1rem !important;
}
.search-input:focus {
  box-shadow: none !important;
}

.search-icon {
  font-size: 1.5rem;
  color: #23aaeb;
}
.search-client {
  border: none;
}

.weekends {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 0.82rem;
  align-items: center;
  height: 30px;
  padding: 0.438rem 0.525rem;
  border-radius: 0.313rem;
  background-color: var(--weekend);
  color: #fff;
  width: 101px;
}
.weekends span {
  font-size: 0.82rem;
}
.weekends .plus {
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 4px;
  position: relative;
  top: -1px;
}
.weekends:hover {
  color: var(--weekend);
  background-color: #fff;
  border: 1px solid var(--weekend);
}
.cards-container {
  position: relative;
  margin-top: 4vh;
  gap: 2.5%;
  /* z-index: 0; */
  flex-flow: row wrap;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .weekends {
    width: 90vw;
    margin: 0 auto;
  }
}
