.nav-container {
  min-height: 4vh;
  padding: 1.1vh 1.1vw;
}
.blurred {
  opacity: 0.3;
}
.nav-links-container {
  gap: 1vw;
}
.nav-links-specific-container {
  gap: 1.4vw;
}
.now-date {
  font-size: 0.9rem;
  color: #474747;
  line-height: 18px;
  letter-spacing: 0.83px;
  margin-right: 2.6vw;
}
.nav-icon-container {
  color: #8997a4;
  position: relative;
  cursor: pointer;
  border-right: solid 0.5px #e8e4e4;
  border-left: solid 0.5px #e8e4e4;
  padding: 0 0.7vw;
}
.nav-icon {
  font-size: 1.6rem;
}
.nav-notification-number {
  min-width: 12px;
  min-height: 12px;
  font-size: 9px;
  background-color: var(--present);
  color: #fff;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  padding: 1px 5px 1px 4px;
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 18%;
}
.nav-img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.nav-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #8997a4;
  gap: 0.5vw;
}
.nav-name span {
  font-size: 1.25rem;
}
.nav-name-dropdown {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-dropdown {
  color: #595959;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  top: 50%;
}
.ham-menu {
  position: absolute;
  font-size: 1.6rem;
  left: 2vw;
  top: 2vw;
  color: #39a4dc;
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .nav-img {
    width: 26px;
    height: 26px;
    border-radius: 13px;
  }
}
@media screen and (max-width: 700px) {
  .nav-links-container {
    width: 90vw;
    gap: 1.5vw;
    flex-direction: column;
  }
  .nav-links-specific-container {
    gap: 3vw;
  }
  .now-date {
    order: 1;
    margin-top: 1vh;
    margin-right: 0;
  }
  .nav-name {
    font-size: 1.1rem;
    gap: 0.5vw;
  }
}
