.modal-form-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(40, 104, 174, 0.43);
  z-index: 9;
  padding-top: 10vh;
}
.form-con {
  position: relative;
  width: 65% !important;
  font-family: Roboto;
  z-index: 99 !important;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.form-con h3 {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: 0.99px;
  text-align: left;
  color: #23aaeb;
}
.form-con h4 {
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #23aaeb;
  margin-bottom: 0.2rem !important;
}
.main-hr {
  border: solid 1px #23aaeb;
  margin: 1vh 0;
}
.sub-hr {
  width: 44px;
  height: 4px !important;
  border-radius: 3px;
  background-color: rgba(35, 170, 235, 0.54);
  margin-top: 0vh;
  margin-bottom: 0.875rem;
}
.bs-img-upload {
  border: 2px dashed #707070;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.input-file {
  opacity: 0;
  cursor: pointer;
}
.input-file-label {
  font-size: 1rem;
  position: absolute;
  cursor: pointer;
  color: #5c6974;
}
.form-label {
  margin-bottom: 0 !important;
  font-size: 0.813rem !important;
}
.uploaded-img {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}
.relative-row {
  position: relative;
}
.form-text-input {
  font-size: 0.813rem !important;
  position: relative;
  height: 30px !important;
}

.invalid-feedback {
  position: absolute !important;
  font-size: 0.7rem !important;
}
option {
  font-size: 0.813rem;
}
.form-check-input {
  box-shadow: none !important;
  margin-right: 0.813rem !important;
}
.form-check-input:checked {
  background-color: #2764ac !important;
  border-color: #2764ac !important;
}
.form-btn {
  min-width: 85px;
  height: 30px;
  font-size: 0.813rem !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: center;
  border: none !important;
}
.save {
  background-color: #23aaeb !important;
}
.cancel {
  background-color: #ff6a6a !important;
}
.form-check-label {
  font-family: Roboto;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #313030;
}
@media screen and (max-width: 1680px) {
  .form-con {
    transform: scaleY(0.95);
  }
}

@media screen and (max-width: 768px) {
  .form-con {
    width: 88vw !important;
  }
  .modal-form-container {
    bottom: -50vh;
    padding-top: 0;
  }
}
