.modal-container {
  color: #23aaeb;
  z-index: 2;
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  transform: translatex(30%);
  background-color: #fff;
  padding: 2vh 2vw;
}
.modal-container h1 {
  font-size: 1.2rem;
}
.modal-container h2 {
  font-size: 1rem;
  margin-bottom: 2vh;
}
.firstCell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
  width: 100%;
  flex: 1;
}
.upload-img {
  width: 15vw;
  position: relative;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #707070;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.upload-img input {
  opacity: 0;
}
.upload-img label {
  color: var(--black);
  position: absolute;
  z-index: 1;
  left: 15%;
  cursor: pointer;
}
.uploaded-img {
  width: 15vw;
  height: 12vh;
  z-index: 15;
  position: relative;
  left: 0.5vw;
}
.input-cells {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.second-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.second-cell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.two-cells-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}
.select-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.select-label {
  position: absolute;
  font-size: 0.75rem;
  color: var(--black);
}
select {
  display: flex;
  color: var(--black);
  outline: none;
  flex-direction: column;
  margin: 4vh 0;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  min-height: 40px;
  padding: 1.5vh 1rem;
}
option {
  color: var(--black);
  outline: none;
  font-size: 1rem;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.checkbox-container label {
  order: 0;
}
.checkbox-container input {
  box-shadow: none;
}
.form-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
}
.form-btn {
  width: 85px;
  height: 30px;
  padding: 9px 24px 6px 21px;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.cancel {
  border: solid 1px #ff6a6a;
  background-color: #ff6a6a;
}
.submit {
  border-radius: 5px;
  border: solid 1px #23aaeb;
  background-color: #23aaeb;
}
@media screen and (max-width: 700px) {
  .modal-container {
    transform: translateX(20%);
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  .firstCell {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second-cell {
    align-items: center;
  }
  .upload-img {
    width: 70vw;
  }
  .upload-img label {
    left: 35%;
  }
  .two-cells-container {
    flex-direction: column;
  }
  select {
    min-width: 70vw;
  }
  .checkbox-container input {
    min-width: 2vw !important;
  }
}
