:root {
  --black: #313030;
  --present: #27b40c;
  --absent: #ff6a6a;
  --leave: #8997a4;
  --weekend: #2764ac;
  --holiday: #23aaeb;
  --bg-grey: #f7f8f9;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 1.3rem;
  line-height: 1.2;
  letter-spacing: normal;
}
h2 {
  font-size: 0.813rem;
}
h3 {
  font-size: 0.625rem;
}
